# macOS
.DS_Store

# Python cache/build
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Project artifactsgit s

# Logs/checkpoints
*.log
*.pt
*.npz
*.csv
